PORT=5000
MONGO_URI=mongodb://mongo:dhCLWkXYkOOscSsIVPlBqAhkUUFlbfnp@switchyard.proxy.rlwy.net:24342
JWT_SECRET=b/3xvZ9ZcbUna98iKn3R2Lybfg6xpDhAzcs8KcslgS4ZtB8Hw2bKHlLkKzRRCbZfrigR0f0w2AwrOqByPBPetQ==
JWT_EXPIRES_IN=1d
JWT_ISSUER=team-task-manager-api
JWT_AUDIENCE=team-task-manager-client
CLIENT_URL=https://tranquil-empathy-production-60fd.up.railway.app
ADMIN_INVITE_CODE=
NODE_ENV=development
